.mt-20 {
    margin-top: 20px;
}

ul.training-sets {
    list-style-type: none;
}

ul.training-sets > li > div {
    margin-bottom: 10px;
}

.pattern-choice {
    float: left;
    height: 100px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}

.pattern-choice:hover {
    color: #fff;
    background-color: #337ab7;
    cursor: pointer;
}

.pattern-choice > span.index {
    font-size: 24px;
}

.pattern-choice > span.choice {
    display: block;
    text-align: center;
    word-wrap: break-word;
    margin-top: 10px;
}

.nav.navbar-text.progress {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 250px;
    position: relative;
}

.nav.navbar-text.progress .progress-bar span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
