/*!
 * Start Bootstrap - Portfolio Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.faded {
    opacity: 0.5;
}

.mt-20 {
    margin-top: 20px;
}

ul.training-sets {
    list-style-type: none;
}

ul.training-sets > li > div {
    margin-bottom: 10px;
}

form.dropzone {
    margin-bottom: 50px;
}

.img-overlay:after, .img-overlay:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.img-overlay:before {
    font-family: FontAwesome;
    content: "\f057";
    color: #fff;
    z-index: 1;
    top: 0;
    cursor: pointer;
    background: rgba(0,0,0,0.6);
    padding:4px 10px;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.img-overlay:hover:after, .img-overlay:hover:before {
    opacity: 1;
}
