{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ training_set.name }}
            <small>{{ photo.name }}</small>
        </h1>
    </div>
</div>

<div class="row">

    <div class="col-md-8 col-xs-12">
        <img class="img-responsive" src="{{ url_for('show_photo', pk=photo.id) }}" alt="{{ photo.name }}">
        <div class="col-xs-4 mt-20">
            <a type="button" class="btn btn-primary {% if not previous_photo %}disabled{% endif %}" {% if previous_photo %}href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=previous_photo.id) }}"{% endif %}>
                Previous photo
            </a>
        </div>
        <div class="col-xs-2 mt-20">
            <a type="button" class="btn btn-primary {% if not next_photo %}disabled{% endif %}" {% if next_photo %}href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=next_photo.id) }}"{% endif %}>
                Next photo
            </a>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <h3>Features to identify</h3>
        <ul>
            {% for training_pattern in training_set.patterns %}
            <li class="pattern" data-pattern-reference="{{ training_pattern.pattern.reference }}" data-pattern-name="{{ training_pattern.name }}" data-pattern-instruction="{{ training_pattern.instruction }}">
                <span class="pattern-name">{{ training_pattern.name }}</span>
                <span class="pattern-instruction"></span>
            </li>
            {% endfor %}
        </ul>

        <div class="col-xs-12 mt-20">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-previous">Back</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-skip">Next</button>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Pictures from this set</h3>
    </div>
</div>

<div class="row all-photos">
    {% for other_photo in training_set.photos.order_by('id') %}
    <div class="col-sm-3 col-xs-6">
        <a href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=other_photo.id) }}">
            <img class="img-responsive portfolio-item" src="{{ url_for('show_photo', pk=other_photo.id) }}" alt="{{ other_photo.name }}">
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block end_body_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.all-photos').masonry();

        (function($) {
            $.fn.isAfter = function(sel){
                return this.prevAll().filter(sel).length !== 0;
            };

            $.fn.isBefore= function(sel){
                return this.nextAll().filter(sel).length !== 0;
            };
        })(jQuery);

        function reset_other_patterns($pattern) {
            $('li.pattern').each(function() {
                if ($(this).isBefore($pattern)) {
                    reset_pattern($(this), true);
                } else if ($(this).isAfter($pattern)) {
                    reset_pattern($(this), false);
                }
            })
        }

        function reset_pattern($pattern, done) {
            var name = $pattern.attr('data-pattern-name');
            $pattern.find('.pattern-name').html(name);
            $pattern.find('.pattern-instruction').html('');
            if (done) {
                $pattern.removeClass('faded');
            } else {
                $pattern.addClass('faded');
            }
        }

        function display_pattern($pattern) {
            reset_other_patterns($pattern);

            var name = '<b>' + $pattern.attr('data-pattern-name') + '</b>';
            var instruction = '<br><i>' + $pattern.attr('data-pattern-instruction') + '</i>';

            $pattern.find('.pattern-name').html(name);
            $pattern.find('.pattern-instruction').html(instruction);
        }

        patterns = $('li.pattern');
        var current_pattern = patterns.first();
        display_pattern(current_pattern);
    });
</script>
{% endblock %}
