{% extends 'base.html' %}

{% block body %}

<div class="row">
    <h1>Create a new training set</h1>
</div>

<div class="row mt-20">
    <div class='col-md-4 col-xs-6'>
        <form action="{{ url_for('training_set_create') }}" method="POST" class="form-horizontal">
            <div class="form-group">
                <label class='col-xs-2 control-label'>{{ form.name.label }}</label>
                <div class='col-xs-10'>
                    {{ form.name(class='form-control') }}
                </div>
            </div>

            {{ form.csrf_token }}

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
