{% extends 'base.html' %}

{% block navbar_right %}

<li>
    <a href="{{ training_set.get_results_url() }}">Get results</a>
</li>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ training_set.name }}
            <small>{{ photo.name }}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xs-12">
        <img class="img-responsive img-training" src="{{ url_for('show_photo', pk=photo.id) }}" alt="{{ photo.name }}">
        <div class="col-xs-4 mt-20">
            {% if previous_photo %}
            <a type="button" class="btn btn-default" href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=previous_photo.id) }}">
                Previous photo
            </a>
            {% endif %}
        </div>
        <div class="col-xs-2 mt-20">
            <a type="button" class="btn btn-default btn-next-photo" href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=next_photo.id) }}">
                Skip to next photo
            </a>
            <button type="button" class="btn btn-primary btn-finish hidden">Confirm</button>
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <h3>Features to identify</h3>
        <ul>
            {% for training_pattern in training_set.patterns.order_by('position') %}
            <li
                class="pattern {% if loop.first %}current{% endif %}"
                data-pattern-input="{{ training_pattern.pattern.input }}"
                data-pattern-name="{{ training_pattern.name }}"
                data-pattern-instruction="{{ training_pattern.instruction }}"
                {% if training_pattern.pattern.choices %}
                data-pattern-choices="{{ training_pattern.pattern.get_flattened_choices() }}"
                {% endif %}
            >
                <span class="pattern-name">{{ training_pattern.name }}</span>
                <span class="pattern-instruction"></span>
            </li>
            {% endfor %}
        </ul>

        <span class="done-msg hidden"><strong>Done!</strong></span>

        <div class="col-xs-12 mt-20">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-previous">Back</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-next">Skip step</button>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Pictures from this set</h3>
    </div>
</div>

<div class="row all-photos">
    {% for other_photo in training_set.photos.order_by('id')[:12] %}
    <div class="col-sm-3 col-xs-6">
        <a href="{{ url_for('training_set_photo', training_set_pk=training_set.id, pk=other_photo.id) }}">
            <img class="img-responsive portfolio-item" src="{{ url_for('show_photo', pk=other_photo.id) }}" alt="{{ other_photo.name }}">
        </a>
    </div>
    {% endfor %}
</div>

<canvas class="canvas-training hidden"></canvas>

{% endblock %}

{% block end_body_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.all-photos').masonry();

        (function($) {
            $.fn.isAfter = function(sel){
                return this.prevAll().filter(sel).length !== 0;
            };

            $.fn.isBefore= function(sel){
                return this.nextAll().filter(sel).length !== 0;
            };
        })(jQuery);

        function get_next_patterns($pattern) {
            var next_patterns = [];

            $('li.pattern').not($pattern).each(function() {
                if ($(this).isAfter($pattern)) {
                    next_patterns.push($(this));
                }
            });

            return $(next_patterns);
        }

        function get_previous_patterns($pattern) {
            var previous_patterns = [];

            $('li.pattern').not($pattern).each(function() {
                if ($(this).isBefore($pattern)) {
                    previous_patterns.push($(this));
                }
            });

            return $(previous_patterns);
        }

        function reset_other_patterns($pattern) {
            $('li.pattern').not($pattern).each(function() {
                if ($(this).isBefore($pattern)) {
                    reset_pattern($(this), true);
                } else {
                    reset_pattern($(this), false);
                }
            });
        }

        function reset_pattern($pattern, done) {
            var name = $pattern.attr('data-pattern-name');
            $pattern.find('.pattern-name').html(name);
            $pattern.find('.pattern-instruction').html('');
            $pattern.removeClass('current');

            if (done) {
                $pattern.removeClass('faded');
            } else {
                $pattern.addClass('faded');
            }
        }

        function disable_pattern_inputs() {
            $('.select-pattern-container').each(function() {
                $(this).find('select').prop('disabled', true);
            });
            $('.input-pattern-container').each(function() {
                $(this).find('input').prop('disabled', true);
                $(this).find('button').addClass('disabled');
            });
        }

        function add_pattern_select($pattern) {
            function bind_keydown_select_handler($pattern) {
                var keydown_select_handler = function(e) {
                    var choices = $pattern.attr('data-pattern-choices');
                    choices = choices.split(';');
                    var $select_div = $pattern.find('select').parent();

                    var max_choice = choices.length;
                    if (max_choice > 9) {
                        max_choice = 9;
                    }

                    var keycode;
                    var numpad_keycode;
                    for (var i = 0; i < max_choice; i++) {
                        // The number 1 on the keyboard has the keycode 49
                        keycode = 49 + i;
                        // The number 1 on the pad has the keycode 97
                        numpad_keycode = 97 + i;

                        if (e.keyCode === keycode || e.keyCode === numpad_keycode) {
                            $select_div.find('select').val(choices[i]).trigger('change');
                        }
                    }
                }
                $(document).keydown(keydown_select_handler);
                $pattern.data('keydown_select_handler', keydown_select_handler);
            }

            function unbind_keydown_select_handler($pattern) {
                var handler = $pattern.data('keydown_select_handler');
                $(document).off('keydown', handler);
            }

            // If the select does not exist already, we add it
            if ($pattern.find('.select-pattern-container').length === 0) {
                var choices = $pattern.attr('data-pattern-choices');
                choices = choices.split(';');
                var html = '<div class="select-pattern-container">';
                html += '<select>';
                html += '<option value="" selected="selected"></option>'
                for (var i = 0; i < choices.length; i ++) {
                    html += '<option value="' + choices[i] + '">' + choices[i] + '</option>';
                }
                html += '</select>';
                html += '</div>';
                var $select_div = $(html);
                $pattern.append($select_div)

                bind_keydown_select_handler($pattern);

                // Go to next pattern on select change
                $select_div.find('select').change(function() {
                    unbind_keydown_select_handler($pattern);
                    store_canvas_state($pattern);
                    var value = $(this).val();
                    var result = {
                        value: value
                    }
                    $pattern.data('result', result);
                    activate_next_pattern();
                });

            }
            // Otherwise we just activate the select
            else {
                $pattern.find('select').prop('disabled', false);
                bind_keydown_select_handler($pattern);
            }
        }

        function add_pattern_input($pattern) {
            // If the input does not exist already, we add it
            if ($pattern.find('.input-pattern-container').length === 0) {
                var input = $pattern.attr('data-pattern-input');
                var type = 'text';
                if (input === 'number_input') {
                    type = 'number';
                }
                var html = '<div class="input-pattern-container">';
                html += '<input type="' + type + '"/>'
                html += '<button class="btn btn-xs btn-primary btn-confirm" type="button">Confirm</button>';
                html += '</div>';

                var $input_div = $(html);
                $pattern.append($input_div);

                // Go to next step on button click
                $('.btn-confirm').click(function() {
                    if ($(this).hasClass('disabled')) {
                        return;
                    }

                    store_canvas_state($pattern);
                    var value = $input_div.find('input').val();
                    var result = {
                        value: value
                    }
                    $pattern.data('result', result);
                    activate_next_pattern();
                });
            }
            // Otherwise we just activate the input
            $pattern.find('input').prop('disabled', false);
            $pattern.find('button').removeClass('disabled');
        }

        function activate_pattern($pattern) {
            reset_other_patterns($pattern);

            var name = '<b>' + $pattern.attr('data-pattern-name') + '</b>';
            var instruction = '<br><i>' + $pattern.attr('data-pattern-instruction') + '</i>';

            $pattern.find('.pattern-name').html(name);
            $pattern.find('.pattern-instruction').html(instruction);

            $pattern.addClass('current');
            $pattern.removeClass('faded');

            var input = $pattern.attr('data-pattern-input');
            if (input === 'select') {
                add_pattern_select($pattern);
            }
            else if (input === 'number_input') {
                add_pattern_input($pattern);
            }
        }

        function get_current_pattern() {
            return $('li.pattern.current');
        }

        function submit_on_enter(e) {
            if (e.keyCode == 13) {
                $('.btn-finish').trigger('click');
            }
        }

        function activate_next_pattern() {
            var current_pattern = get_current_pattern();

            disable_pattern_inputs();

            var next_patterns = get_next_patterns(current_pattern);
            if (next_patterns.length === 0) {
                reset_pattern(current_pattern, true);
                $('.done-msg').removeClass('hidden');
                $('.btn-next-photo').addClass('hidden');
                $('.btn-finish').removeClass('hidden');
                $(document).keydown(submit_on_enter);
                return;
            }
            activate_pattern(next_patterns[0]);
        }

        function activate_previous_pattern() {
            $('.done-msg').addClass('hidden');
            $('.btn-next-photo').removeClass('hidden');
            $('.btn-finish').addClass('hidden');
            $(document).off('keydown', submit_on_enter);

            disable_pattern_inputs();

            var current_pattern = get_current_pattern();
            var previous_pattern;

            // We were done, but we want to go back
            if (current_pattern.length === 0) {
                previous_pattern = $('li.pattern').last();
            } else {
                var previous_patterns = get_previous_patterns(current_pattern);
                if (previous_patterns.length === 0) {
                    previous_pattern = current_pattern;
                } else {
                    previous_pattern = previous_patterns[previous_patterns.length - 1];
                }
            }

            activate_pattern(previous_pattern);

            // We restore the canvas stored in the previous state
            var state = previous_pattern.data('previous_state');
            if (state) {
                draw_canvas_from_state($('.canvas-training')[0], state);
            }
        }

        function store_canvas_state($pattern) {
            var canvas = $('.canvas-training')[0];
            previous_state = canvas.toDataURL();
            $pattern.data('previous_state', previous_state);
        }

        function get_result($pattern) {
            var result = $pattern.data('result');
            if (!result) {
                return null;
            }
            return {
                name: $pattern.attr('data-pattern-name'),
                result: result
            };
        }

        function submit_results() {
            var results = [];
            var result;
            $('li.pattern').each(function() {
                result = get_result($(this));
                if (result) {
                    results.push(result);
                }
            });
            results = {
                training_result: JSON.stringify(results),
            }

            var url = "{{ url_for('training_set_photo_post_result', training_set_pk=training_set.id, pk=photo.id) }}";

            $.post(url, results, function(data) {
                var next_url = data.url;
                window.location = next_url;
            });
        }

        $(document).keydown(function(e) {
            // Up arrow
            if (e.keyCode === 38) {
                activate_previous_pattern();
                e.preventDefault();
            }
            // Down arrow
            else if (e.keyCode === 40) {
                store_canvas_state(get_current_pattern());
                activate_next_pattern();
                e.preventDefault();
            }
        });

        $('.btn-next').click(function() {
            store_canvas_state(get_current_pattern());
            activate_next_pattern();
        });

        $('.btn-previous').click(function() {
            activate_previous_pattern();
        });

        $('.btn-finish').click(function() {
            submit_results();
        });

        $('.canvas-training').click(function(e) {
            var current_pattern = get_current_pattern();
            var input = current_pattern.attr('data-pattern-input');
            if (input.indexOf('draw_') !== 0) {
                // The current pattern is not a drawing one, we dismiss click events
                return;
            }

            var offset = $(this).offset();
            var top = offset.top;
            var left = offset.left;

            var x = e.clientX - left;
            var y = e.clientY - top;

            var canvas = $(this)[0];

            // We store the previous state to be able to restore it later on
            store_canvas_state(current_pattern);

            if (input === 'draw_point') {
                draw_point(canvas, x, y);
                var result = {
                    points: [
                        {
                            x: x / canvas.width,
                            y: y / canvas.height
                        }
                    ]
                }
                current_pattern.data('result', result);
            }

            activate_next_pattern();
        });

        activate_pattern(get_current_pattern());
        position_canvas();

    });
</script>
{% endblock %}
