{% extends 'base.html' %}

{% block navbar_right %}

<li>
    <a href="{{ training_set.get_absolute_url() }}">Back to training</a>
</li>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ training_set.name }}
            <small>{{ photo.name }}</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xs-12">
        <img class="img-responsive img-training" src="{{ url_for('show_photo', pk=photo.id) }}" alt="{{ photo.name }}">
        <div class="col-xs-4 mt-20">
            <a type="button" class="btn btn-primary {% if not previous_result %}disabled{% endif %}" {% if previous_result %}href="{{ url_for('training_result', pk=previous_result.id) }}"{% endif %}>
                Previous result
            </a>
        </div>
        <div class="col-xs-2 mt-20">
            <a type="button" class="btn btn-primary {% if not next_result %}disabled{% endif %}" {% if next_result %}href="{{ url_for('training_result', pk=next_result.id) }}"{% endif %}>
                Next result
            </a>
        </div>

    </div>

    <div class="col-md-4 col-xs-12">
        <h3>Identified Features</h3>
        <ul class='features'>
        </ul>

        <div class="col-xs-12 mt-20">
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger btn-delete">Delete</button>
            </div>
        </div>
    </div>

</div>

<canvas class="canvas-training hidden"></canvas>

{% endblock %}

{% block end_body_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // We load the result
        var result = JSON.parse('{{ training_result.result|safe }}');

        position_canvas();

        var canvas = $('.canvas-training')[0];
        var width = canvas.width;
        var height = canvas.height;

        var points, x, y;
        result.forEach(function(result) {
            // We add the pattern
            var $li = $('<li>' + result.name + '</li>');
            $('.features').append($li);

            // If the pattern is a drawing, we draw the points
            if (result.result.points) {
                // We draw each point
                points = result.result.points;
                points.forEach(function(point) {
                    x = point.x * width;
                    y = point.y * height;
                    draw_point(canvas, x, y);
                })
            }
            // If the pattern is a value, we add a disabled input
            else if (result.result.value) {
                var html = $li.html();
                html += ': <input type="text" disabled="disabled" value="' + result.result.value + '">';
                $li.html(html);
            }

        });

        $('.btn-delete').click(function() {
            console.log('click');
            var url = '{{ url_for("training_result_delete", pk=training_result.id) }}';
            $.post(url, function(data) {
                var next_url = data.url;
                window.location = next_url;
            });
        });
    });
</script>
{% endblock %}
