{% extends 'base.html' %}

{% block navbar_right %}

<li>
    <a href="{{ training_set.get_results_url() }}">Get results</a>
</li>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            {{ training_set.name }}
            <small>[[ photo_name ]]</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-xs-12">
        <img class="img-responsive" :src="photo_url" :photo-pk="photo_pk">

        <div class="col-xs-2 mt-20">
            <a type="button" class="btn btn-default" v-on:click="fetchNextPhoto">Skip to next photo</a>
            <button type="button" class="btn btn-primary hidden">Confirm</button>
        </div>

    </div>

    <div class="col-md-4 col-xs-12">
        <h3>Features to identify</h3>
        <ul>
            <li v-for="pattern in patterns">
                <span :class="pattern.active ? '':'text-muted'">[[ pattern.name ]]</span>
                <span v-show="!pattern.active"><i>[[ pattern.result ]]</i></span>
                <span v-show="pattern.active"><br/><i>[[ pattern.instruction ]]</i></span>

                <template v-if="pattern.input === 'number_input'">
                    <div class="input-container" v-show="pattern.active">
                        <input type="number" v-model="pattern.result" v-on:keyup.enter="enableNextPattern">
                        <button class="btn btn-xs btn-primary btn-confirm" type="button" v-on:click="enableNextPattern">Confirm</button>
                    </div>
                </template>

                <template v-else-if="pattern.input === 'select'">
                    <div class="input-container hidden">
                        <select>
                            <option value="" selected="selected"></option>
                            <option v-for="choice in pattern.choices" :value="choice">[[ choice ]]</option>
                        </select>
                    </div>
                    <div class="row" v-show="pattern.active">
                        <div class="col-xs-3 pattern-choice" v-for="(choice, index) in pattern.choices" v-on:click="setActivePatternResult(choice)">
                            <span class="index">[[ index + 1 ]]</span>
                            <span class="choice">[[ choice ]]</span>
                        </div>
                    </div>
                </template>
            </li>
        </ul>

        <span v-show="training_done"><strong>Done!</strong></span>

        <div class="col-xs-12 mt-20">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default" v-show="active_index > 0" v-on:click="enablePreviousPattern">Back</button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-default" v-show="!training_done" v-on:click="enableNextPattern">Skip step</button>
                <button type="button" class="btn btn-primary" v-show="training_done" v-on:click="submitResult">Next</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block end_body_js %}
<script src="{{ url_for('static', filename='js/training_set_photo.js') }}"></script>
{% endblock %}
