{% extends 'base.html' %}

{% block extra_head %}

{{ super() }}
<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="row">
    <h1>Edit {{ training_set.name }}</h1>
</div>

<div class="row mt-20">
    <div class='col-md-4 col-xs-6'>
        <form class="form-horizontal">
            <div class="form-group">
                <label class='col-xs-2 control-label'>Name</label>
                <div class='col-xs-10'>
                    <input type="text" class="form-control" value="{{ training_set.name }}" readonly="readonly">
                </div>
            </div>
        </form>

        Patterns
    </div>

    <div class="col-md-8 col-xs-6">
        <div class="row all-photos">
            {% for photo in training_set.photos.order_by('id') %}
            <div class="col-md-3 col-sm-4 col-xs-6 img-overlay">
                <img class="img-responsive portfolio-item" src="{{ url_for('show_photo', pk=photo.id) }}" alt="{{ photo.name }}" data-photo-name="{{ photo.name }}" data-photo-delete-url="{{ url_for('delete_photo', pk=photo.id) }}" data-photo-pk="{{ photo.id }}">
            </div>
            {% endfor %}
        </div>

        <div class="row">
        <form action="{{ url_for('training_set_add_photo', pk=training_set.id) }}" class="dropzone" id='add-photos'>
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
        </div>
    </div>

</div>

<div class="modal fade" id="delete-photo-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Delete photo</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the "<span class='picture-name'></span>"" photo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger btn-delete" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block end_body_js %}
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.all-photos').masonry();

        $('.img-overlay').click(function(e) {
            var posX = $(this).offset().left;
            var posY = $(this).offset().top;

            var x = e.pageX - posX - 15;  // To account for the padding
            var y = e.pageY - posY;

            var width = $(this).width();
            var height = $(this).height();

            if (y < 26 && x / width < 0.18) {
                $('#delete-photo-modal').modal('show');
                var name = $(this).find('img').attr('data-photo-name');
                var pk = $(this).find('img').attr('data-photo-pk');
                var delete_url = $(this).find('img').attr('data-photo-delete-url');

                $('#delete-photo-modal').find('.picture-name').html(name);
                $('#delete-photo-modal').find('.btn-delete').data('delete-url', delete_url);
                $('#delete-photo-modal').find('.btn-delete').data('photo-pk', pk);
            }
        });

        $('.btn-delete').click(function() {
            var url = $(this).data('delete-url');
            var photo_pk = $(this).data('photo-pk');

            $.post(url, function() {
                var img_div = $('img[data-photo-pk="' + photo_pk + '"]').parent();
                $('.all-photos').masonry('remove', img_div);
                $('.all-photos').masonry('layout');
            });
        })
    })
</script>
{% endblock %}
